<h1>StaticPages#surprise</h1>
<p>Find me in app/views/static_pages/surprise.html.erb</p>




    Read (n)
    for i=1 to n do
    	for j=1 to n do
    	  Write ("*")
    	Endfor
    	Write (Line)
   	Endfor

    for i=1 to n do
      k = ((n-i+1)*2) - 1
      l = n*2-1-k
      if l > 0
      	For m= 1 to (i-1) do
      	  write (" ")
      	Endfor
      Endif
      for j=1 to k do
        write ("*")
      Endfor
      Write (Line)
    Endfor





 

